:root {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  margin: 0 0 1rem 0;
  background-color: #93B7BE;
}

/* Nav Bar Style */
.nav-bar {
  background-color: #4545458e;
  width: 100%;
  color: #cae2e7;
  border-radius: .5rem;
}

.nav-bar>ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-bar>ul>li {
  padding: 1rem;
  list-style: none;
}

/* Body Styles */
.light-background {
  color: #785964;
  padding: 1rem;
  margin: .5rem;
  border-radius: .5rem;
}

.dark-background {
  background-color: #785964d2;
  color: #F1FFFA;
  padding: 1rem;
  margin: .5rem;
  border-radius: .5rem;
}

/* Intro section */
.intro-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* About section */
.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Skill section */
.skill-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Project section */
.project-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Blog section */
.blog-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contact Me section */
.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer section */
.footer-section {
  display: flex;
  align-items: center;
  justify-content: center;
}


@media only screen and (max-width: 600px) {
  .nav-bar>ul {
    flex-direction: column;
    align-items: start;
  }
}